body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(24, 5, 1);
}

/* Header */
header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.nav-bar {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
}
.logo img {
  width: 50px;
  height: 50px;
}
/*  */
/* close head section */

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* hero section */

.herosection img {
  height: 500px;
  width: 100%;
  object-fit: cover;}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}.hero-content p {
  font-size: 22px;
  margin-bottom: 20px;
}
/* end */

/* about section */
.aboutcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 3rem;
}.aboutcontent,
.aboutimage {
  flex: 1;
}.aboutimage img {
  width: 100%;
  height: 100%;}
.aboutcontent h1,
.aboutcontent p {
  color: #888888;}

  /* end */

  /* accessible and crypto section */
/*  */
.accessiblecontainer {
  color: #888888;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}.accessiblecontent .btntext {
  border: 1px solid #888888;
  padding: 10px 60px 10px 60px;
  border-radius: 10px;
  white-space: nowrap;
  justify-content: center;
  background-color: rgb(24, 5, 1);
  color: #888888;}
.cryptorow1 {
  color: #888888;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2% 4% 2% 4%;
  gap: 2%;
  justify-content: center;}
.containercrypto {
  margin-bottom: 0px;
}.cryptorow1 .cryptoclm1,
.cryptoclm2 {
  border: 1px solid #888;
  padding: 5%;}
.cryptorow2 {
  color: #888888;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2% 4% 2% 4%;
  gap: 2%;
}.cryptorow2 .cryptoclm3,
.cryptoclm4,
.cryptoclm5 {
  border: 1px solid #888;
  padding: 5%;
}.cryptoitem {
  display: flex;
  gap: 20px;
}.cryptocontent p {
  font-size: 25px;
}.cryptorow1 .col-lg-6 {
  border: 1px solid #5f5e5e;
  padding: 5%;
  border-radius: 20px;}
.cryptorow2 .col-lg-3 {
  border: 1px solid #5f5e5e;
  padding: 5%;
  border-radius: 20px;
}.cryptorow2 .cryptoitem {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;}

  /* end */

  /* marquee section */
.marqueesection {
  color: #888;
  font-size: 50px;
}

/* end */

/* howwork section */

.howworkbtntext {
  color: #ffcc66;
  font-weight: 600;
  border: 1px solid #888888;
  padding: 10px 60px 10px 60px;
  border-radius: 10px;
  white-space: nowrap;
  justify-content: center;
  background-color: rgb(24, 5, 1);
}

.howworksection {
  justify-content: center;
  text-align: center;
}

.howworkdetails {
  color: #888;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-areas: "left-top center right-top" "left-bottom center right-bottom";
  gap: 80px;
  padding: 80px;
  position: relative;
  text-align: center;


}

.workimage {
  grid-area: center;
  text-align: center;
}

.worknum {
  font-size: 50px;
  opacity: 1;
}
/* animation setting for 4 colom */
.workdetailsleft {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease;
}


.workdetailsleft.show {
  opacity: 1;
  transform: translateX(0);
}




.workdetailsright {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
}




.workdetailsright.show {
  opacity: 1;
  transform: translateX(0);
}


/* end */
/* image animation */
.workimage img {
  animation: floating 3s ease-in-out infinite;}
@keyframes floating {
  0% {
    transform: translateY(0px);}
50% {
    transform: translateY(-15px);
  } 100% {
    transform: translateY(0px); }
}
/* end */

/* Exchangedetails section */

.Exchangedetails {
  padding: 80px;
  border: 1px solid #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px;
  border-radius: 20px;
  color: #888;
  gap: 2px;
}
.textimage img {
  border: 1px solid #888;
  width: 50px;
  height: 50px;
  padding: 1%;
  border-radius: 10px;}
.exchangefirstimg {
  width: 20%;}
.exchangehead {
  width: 50%;}
.textimage {
  width: 30%;
}

/* bottom div animation */
.Exchangedetails {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;}

.Exchangedetails.show {
  opacity: 1;
  transform: translateY(0);
}

/* responsive started */

/* navbar */

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.icon {
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media(max-width:768px) {

  .icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;

  }

  .menu.active {
    display: flex;
    z-index: 1000;
    background: #0000001f;
  }

  .menu li {
    margin: 15px 0;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 25px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
  }
  section.herosection{
    position: relative;
  }

  .aboutcontainer {
    flex-direction: column;
  }

  .aboutcontent {
    width: 100%;
  }

  .aboutimage {
    width: 100%;
  }

.Exchangedetails {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .textimage {
    width: 100%;
    gap: 20px;
  }

  .exchangehead {
    width: 100%;
  }

}

@media (min-width: 769px) {
  #menu {
    display: flex;
  }
}

@media(max-width:1024px) {
.howworkdetails {
  display: flex;
  flex-direction: column;
}
.cryptorow1 , .cryptorow2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}}